/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/style.scss */
.hit-icon-common, html body #how-it-works .detail .three-parts .icon-user, html body #how-it-works .detail .three-parts .icon-pencil, html body #how-it-works .detail .three-parts .icon-group, html body #why-choose-us .icon-checkmark, html body #why-choose-us .icon-tag, html body #why-choose-us .icon-refresh, html body #why-choose-us .icon-user, html body #why-choose-us .icon-clipboard, html body #why-choose-us .icon-thumbsup {
  font-size: 50px;
  margin: 30px auto;
  text-align: center;
}

/* line 24, ../sass/style.scss */
html {
  font-size: 62.5%;
}
/* line 26, ../sass/style.scss */
html body {
  background-color: #445060;
  width: 1200px;
  margin: 0 auto;
}
/* line 28, ../sass/style.scss */
html body .container {
  background-color: #F2F1EF;
}
/* line 31, ../sass/style.scss */
html body hr {
  margin: 80px auto;
  width: 100%;
}
/* line 38, ../sass/style.scss */
html body h1 {
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 0em;
  color: white;
  font-size: 3.5em;
  font-weight: 700;
  font-family: sans-serif;
}
/* line 48, ../sass/style.scss */
html body h2 {
  text-align: center;
  margin: 0.5em auto 1em auto;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
}
/* line 56, ../sass/style.scss */
html body header {
  overflow: hidden;
  color: white;
  margin-top: 2em;
  width: 1200px;
  min-height: 500px;
  margin: auto;
  background: url("../img/test1.jpg") no-repeat;
}
/* line 64, ../sass/style.scss */
html body header nav {
  float: right;
}
/* line 66, ../sass/style.scss */
html body header nav div {
  display: inline-block;
  margin-right: 5px;
  margin-top: 2px;
  padding: 4px;
}
/* line 71, ../sass/style.scss */
html body header nav div a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 10pt;
}
/* line 78, ../sass/style.scss */
html body header nav div:last-child {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 3px;
}
/* line 86, ../sass/style.scss */
html body header .search {
  margin-top: 12px;
  margin-left: 16%;
}
/* line 89, ../sass/style.scss */
html body header .search input {
  box-sizing: border-box;
  color: white;
  width: 730px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding-left: 10px;
  border-radius: 3px 0 0 3px;
}
/* line 99, ../sass/style.scss */
html body header .search button {
  color: white;
  width: 75px;
  height: 35px;
  margin-left: -2px;
  background-color: #5CD8A1;
  border: none;
  border-radius: 0 3px 3px 0;
}
/* line 111, ../sass/style.scss */
html body #count {
  font-family: sans-serif;
  width: 80%;
  background-color: #F2F1EF;
  margin: 0 auto;
  position: relative;
  top: -60px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px 4px 4px 4px;
}
/* line 121, ../sass/style.scss */
html body #count .part {
  padding-top: 30px;
  font-size: 15pt;
  float: left;
  width: 25%;
  border-left: 1px solid gray;
  box-sizing: border-box;
}
/* line 128, ../sass/style.scss */
html body #count .part:first-child {
  border: none;
}
/* line 131, ../sass/style.scss */
html body #count .part p {
  font-size: 10pt;
  margin: 15px auto 30px auto;
}
/* line 137, ../sass/style.scss */
html body #count:after {
  content: "";
  display: block;
  clear: both;
}
/* line 143, ../sass/style.scss */
html body #how-it-works {
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: auto;
}
/* line 147, ../sass/style.scss */
html body #how-it-works h3 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
}
/* line 152, ../sass/style.scss */
html body #how-it-works h3:after {
  content: "";
  display: block;
  width: 25px;
  margin: 10px auto 0 auto;
  border: 2px solid gray;
}
/* line 160, ../sass/style.scss */
html body #how-it-works .detail {
  overflow: auto;
}
/* line 162, ../sass/style.scss */
html body #how-it-works .detail:before {
  content: "";
  display: block;
  width: 65%;
  border: 1px solid gray;
  margin: 0px auto;
  position: relative;
  top: 18px;
}
/* line 171, ../sass/style.scss */
html body #how-it-works .detail .three-parts {
  float: left;
  width: 33%;
  font-family: sans-serif;
}
/* line 175, ../sass/style.scss */
html body #how-it-works .detail .three-parts .introduction {
  font-family: sans-serif;
  font-size: 10px;
}
/* line 179, ../sass/style.scss */
html body #how-it-works .detail .three-parts .number {
  background-color: #F2F1EF;
  position: relative;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 100%;
  margin: 0 auto;
}
/* line 188, ../sass/style.scss */
html body #how-it-works .detail .three-parts .number p {
  font-size: 16px;
  font-weight: 500;
  margin: 8px auto;
}
/* line 194, ../sass/style.scss */
html body #how-it-works .detail .three-parts .icon-user {
  color: #EAA861;
}
/* line 198, ../sass/style.scss */
html body #how-it-works .detail .three-parts .icon-pencil {
  color: #AD9ED1;
}
/* line 202, ../sass/style.scss */
html body #how-it-works .detail .three-parts .icon-group {
  color: #519AC9;
}
/* line 206, ../sass/style.scss */
html body #how-it-works .detail .three-parts h4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}
/* line 211, ../sass/style.scss */
html body #how-it-works .detail .three-parts .introduction {
  margin-top: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0 100px;
}
/* line 221, ../sass/style.scss */
html body #why-choose-us {
  margin-top: 100px;
  margin-left: auto;
  font-family: sans-serif;
}
/* line 225, ../sass/style.scss */
html body #why-choose-us h3 {
  text-align: center;
  margin-bottom: 50px;
}
/* line 228, ../sass/style.scss */
html body #why-choose-us h3:after {
  content: "";
  display: block;
  width: 25px;
  margin: 10px auto 0 auto;
  border: 2px solid gray;
}
/* line 236, ../sass/style.scss */
html body #why-choose-us .one {
  float: left;
  width: 40%;
  margin-left: 6%;
  margin-right: 10px;
  margin-bottom: 30px;
}
/* line 243, ../sass/style.scss */
html body #why-choose-us .two {
  float: left;
  width: 40%;
  margin-left: 6%;
  margin-right: 10px;
  margin-bottom: 30px;
}
/* line 250, ../sass/style.scss */
html body #why-choose-us .three {
  float: left;
  width: 40%;
  margin-left: 6%;
  margin-right: 10px;
  margin-bottom: 30px;
}
/* line 257, ../sass/style.scss */
html body #why-choose-us h4 {
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
}
/* line 262, ../sass/style.scss */
html body #why-choose-us .content {
  font-size: 16px;
  color: grey;
}
/* line 266, ../sass/style.scss */
html body #why-choose-us .icon-checkmark {
  color: #66BE93;
  font-size: 28px;
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 275, ../sass/style.scss */
html body #why-choose-us .icon-tag {
  color: #4BB5EA;
  font-size: 28px;
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 284, ../sass/style.scss */
html body #why-choose-us .icon-refresh {
  color: #EAA861;
  font-size: 28px;
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 293, ../sass/style.scss */
html body #why-choose-us .icon-user {
  color: #AD9ED1;
  font-size: 28px;
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 302, ../sass/style.scss */
html body #why-choose-us .icon-clipboard {
  color: #EB6D7F;
  font-size: 28px;
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 311, ../sass/style.scss */
html body #why-choose-us .icon-thumbsup {
  color: #ED7F5A;
  font-size: 28px;
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 320, ../sass/style.scss */
html body #why-choose-us #interact {
  width: 80%;
  margin-top: 200px;
  margin-left: auto;
}
/* line 324, ../sass/style.scss */
html body #why-choose-us #interact .btn {
  margin-left: 40%;
  margin-bottom: 50px;
}
/* line 328, ../sass/style.scss */
html body #why-choose-us #interact .text {
  text-align: center;
  margin-bottom: 50px;
}
/* line 332, ../sass/style.scss */
html body #why-choose-us #interact .person {
  width: 80%;
  margin-left: 300px;
}
/* line 335, ../sass/style.scss */
html body #why-choose-us #interact .person .three-person {
  float: left;
  margin-left: 2px;
}
/* line 341, ../sass/style.scss */
html body #why-choose-us footer {
  margin-top: 125px;
}
/* line 343, ../sass/style.scss */
html body #why-choose-us footer .last {
  width: 1200px;
  height: 150px;
  background: url("../img/test1.jpg") repeat;
}
/* line 347, ../sass/style.scss */
html body #why-choose-us footer .last .search {
  padding-top: 20px;
  padding-left: 18%;
}
/* line 350, ../sass/style.scss */
html body #why-choose-us footer .last .search input {
  width: 625px;
  height: 35px;
  opacity: 0.2;
}
/* line 355, ../sass/style.scss */
html body #why-choose-us footer .last .search button {
  width: 75px;
  height: 40px;
  margin-left: -2px;
  background-color: aquamarine;
}
/* line 364, ../sass/style.scss */
html body #why-choose-us footer nav .flag {
  float: right;
}
